.container {
	position: relative;
	position: relative;
	display: inline-flex;
	margin: auto;
	left: 50%;
	transform: translateX(-50%);
}

canvas#target {
	display: block;
	outline: none;
}

#audio-controls {
	position: absolute;
	top: 0;
	right: 0;

	button {
		background: none;
		border: none;
		cursor: pointer;
		padding: 0.5rem;
		outline: none;

		img {
			width: 1.5rem;
		}
	}
}

.repo-link {
	position: absolute;
	bottom: 0.5rem;
	right: 0.7rem;

	img.icon {
		width: 1.3rem;
		mix-blend-mode: color-burn;
		opacity: 0.2;
	}
}
